/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Estilos principais da página */
.home {
    background-color: #f8f9fa;
    padding: 10px;
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    min-width: 90%;
    width: 100%;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 10px;
    color: #333;
}

/* Estatísticas */
.stats {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.stat {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 1 calc(25% - 20px);
    margin: 5px;
}

/* Cartões */
.card {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(30% - 20px);
    overflow: hidden;
    text-align: center;
    font-size: 15px;
}

.card h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 4.5em;
    line-height: 1.5;
}

/* Contatos com ícones de telefone */
.contact {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; /* Reduzindo o espaço entre os contatos */
}

.contact div {
    display: flex;
    align-items: center;
    padding: 4px 8px; /* Reduzindo o padding dos itens de contato */
    font-size: 0.9rem; /* Diminuindo o tamanho da fonte para mais compactação */
}

.contact i {
    font-size: 1rem;
    margin-right: 6px; /* Reduzindo a margem para ícones */
    color: #00c851;
    width: 20px; /* Definindo largura fixa para alinhar ícones */
}

.contact div span {
    white-space: nowrap; /* Mantém o nome e ramal em uma linha */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Perfil e fotos */
.profile {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

/* Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o dropdown */
.dropdown-button {
    background-color: #963bd2; /* Cor de fundo ajustada */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.dropdown-button:hover {
    background-color: #7a2ea8; /* Cor de fundo ajustada para o hover */
}

.dropdown-icon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.dropdown-content {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #963bd2; /* Adiciona uma borda */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    display: none;
    flex-direction: column;
}

.dropdown-content.show {
    display: flex;
}

.dropdown-content a,
.dropdown-content button {
    padding: 10px 15px;
    text-align: left;
    color: #963bd2; /* Ajusta a cor do texto */
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #e9ecef;
}

.dropdown-content a:focus,
.dropdown-content button:focus {
    outline: none;
    background-color: #e9ecef;
}

/* Lista de aniversariantes */
.birthday-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.birthday-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.birthday-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.birthday-item div {
    display: flex;
    flex-direction: column;
}

/* Carrossel comemorativo */
.commemorative-carousel {
    height: 100px;
}

.commemorative-date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Torna as setas visíveis no modo claro */
}

/* Documentos */
.card-documents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;

}

.card-documents h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

.card-documents p {
    text-align: center;
    margin-bottom: 20px;
}

/* Modo claro */
body {
    background-color: #f8f9fa;
    color: #333;
}

.header h1 {
    color: #333;
}

.card {
    background-color: white;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.dropdown-button {
    background-color: #963bd2; /* Cor de fundo ajustada */
    color: white;
}

.dropdown-button:hover {
    background-color: #7a2ea8; /* Cor de fundo ajustada para o hover */
}

.dropdown-content {
    background-color: white;
    border: 1px solid #963bd2; /* Adiciona uma borda */
}

.dropdown-content a,
.dropdown-content button {
    color: #963bd2; /* Ajusta a cor do texto */
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #e9ecef;
}

.dropdown-content a:focus,
.dropdown-content button:focus {
    background-color: #e9ecef;
}
